# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create markdown cells

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
1. Matplotlib
1. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| Zeppelin Notebooks |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author
Huijuan